<div class="container-fluid col-lg-5 mt-3">
    <div class="card bg-secondary text-white">
        <div class="card-body">
            <h5 class="card-title">Användare 👩‍🏫</h5>
            <p class="card-text">För att skapa en enhet, ange först dina användaruppgifter. Därefter kan du lägga till de medlemmar som ska ingå.</p>
            <app-create-owner-form *ngIf="!model.owner" (ownerAdded)="onOwnerAdded($event)"></app-create-owner-form>
            <app-display-owner [owner]="model.owner" [options]="{showEdit: true}" (ownerRemoved)="onOwnerRemoved()"></app-display-owner>
        </div>
    </div>
</div>

<div *ngIf="model.owner" class="container-fluid col-lg-5 mt-3">
    <div class="card bg-info">
        <div class="card-body">
            <h5 class="card-title">Enhetsmedlemmar 👨‍👩‍👧‍👦</h5>
            <p class="card-text">Lägg till de medlemmar som ska ingå i enheten.</p>
            <app-create-member-form (memberAdded)="onMemberAdded($event)"></app-create-member-form>
            <h6 *ngIf="model.members.length > 0" class="card-title">Tillagda medlemmar</h6>
            <app-member-list [members]="model.members" [options]="{showRemove: true}" (memberRemoved)="onMemberRemoved($event)"></app-member-list>
        </div>
    </div>
</div>
<div *ngIf="model.members.length > 0 && model.owner" class="d-flex flex-column align-items-center mb-3">
    <button  class="btn btn-success btn-lg border-dark m-2" (click)="onCreateUnit($event)">Spara klass 💾</button>
    <p class="text-center"><small>Glöm inte att hålla rätt på den enhetskod som du får när enheten skapats.</small></p>
</div>
