<form ngClass="d-flex flex-column align-items-center" autocomplete="off" (submit)="onCreateStudent($event)">
    <div ngClass="col-sm mt-2">
        <input type="text" ngClass="form-control" placeholder="Namn..." [(ngModel)]="model.name" name="name">
    </div>
    <div ngClass="col-sm mt-2">
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="sexOption" id="girl" value=0 [(ngModel)]="model.sex">
            <label class="form-check-label" for="girl">Flicka</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="sexOption" id="boy" value=1 [(ngModel)]="model.sex">
            <label class="form-check-label" for="boy">Pojke</label>
          </div>
    </div>
    <div ngClass="d-flex flex-row justify-content-between col-sm mt-2">
        <input type="submit" ngClass="btn btn-success mx-2" value="Lägg till" [disabled]="!model.name || !model.sex">
    </div>
</form>