<div class="container-fluid col-lg-3 d-flex flex-row justify-content-center mt-3">
    <div class="card bg-secondary text-white">
        <div class="card-body">
          <h5 class="card-title">Välj enhet</h5>
          <p class="card-text">För att använda tjänsten behöver du en enhet. Välj mellan att skapa ny eller ladda befintlig.</p>
          <div class="d-flex flex-row justify-content-evenly m-1">
            <button class="btn btn-success btn-lg border-dark mt-1 mb-1" [routerLink]="['../create']">Skapa ➕</button>
            <button class="btn btn-primary btn-lg border-dark mt-1 mb-1" [routerLink]="['../load']">Ladda 💾</button>
        </div>
        </div>
    </div> 
</div>