<h6>Bekräfta genom att ange klasskoden: {{unit?.code}}</h6>
<form ngClass="d-flex flex-column align-items-center" autocomplete="off" (submit)="onDeleteUnit($event)">
    <div ngClass="col-sm mt-2">
        <input type="text" ngClass="form-control" placeholder="Klasskod..." [(ngModel)]="unitCode" name="unitCode">
    </div>
    <div ngClass="d-flex flex-row justify-content-between col-sm mt-2">
        <input type="submit" ngClass="btn btn-success mx-2" value="Bekräfta" [disabled]="unitCode != unit?.code">
    </div>
</form>