<button *ngIf="!showConfirmation" class="btn btn-danger border-dark mx-2" (click)="showConfirmation = !showConfirmation">Radera enhet</button>
<form *ngIf="showConfirmation" ngClass="d-flex flex-column align-items-center" autocomplete="off" (submit)="onSubmit($event)">
    <h6>Är du säker på att du vill radera enheten? Bekräfta genom att ange enhetskoden.</h6>
    <div ngClass="col-sm mt-2">
        <input type="text" ngClass="form-control" placeholder="Enhetskod..." [(ngModel)]="unitCodeConfirmation" name="unitCode">
    </div>
    <div ngClass="d-flex flex-row justify-content-between col-sm mt-2">
        <input type="submit" ngClass="btn btn-success border-dark mx-2" value="Bekräfta" [disabled]="unitCodeConfirmation != unitCode">
        <button class="btn btn-danger border-dark mx-2" (click)="showConfirmation = !showConfirmation">Ångra</button>
    </div>
</form>